.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.active {
  border-bottom: 4px solid #fc4f06;
}

.navbar {
  padding-bottom: 0;
}
